body {
    background-color: #f4f7f6;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #333;
}

header span {
    color: #e63946; /* El toque rojo de tu logo */
}

.tarjeta {
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 250px;
    margin: auto;
}

.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #00d1ce;
}

.galeria-trabajos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

/* Estos son tus cuadritos celestes */
.cuadro {
    width: 50px;
    height: 50px;
    border: 2px solid #00d1ce;
    border-radius: 8px;
    overflow: hidden;
}

.cuadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-contacto {
    background-color: #00d1ce;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
